/*** Start Screen Styles ***/
.Start-Screen {
    .start-text {
        @include flexColAlignCenter();
        justify-content: space-between;
        min-height: 12rem;
        margin-top: 3rem;
    }
    .start-button {
        text-decoration: none;
        font-size: 3rem;
    }
}

